apiVersion: v1
kind: Secret
metadata:
  name: client-stores
  namespace: kafka-docker
type: Opaque
data:
  client.keystore.p12: $CLIENT_KEYSTORE_PKCS12
  client.truststore.p12: $CLIENT_TRUSTSTORE_PKCS12
