apiVersion: v1
data:
  ca.crt: $CA_CERTIFICATE
kind: Secret
metadata:
  name: kafka-k8s-clients-ca-cert
  labels:
    strimzi.io/kind: Kafka
    strimzi.io/cluster: kafka-k8s
  annotations:
    strimzi.io/ca-cert-generation: '0'
  namespace: kafka-k8s
---
apiVersion: v1
data:
  ca.crt: $INTERMEDIATE_CERTIFICATE
  ca.p12: $INTERMEDIATE_CERTIFICATE_PKCS12
  ca.password: $STORE_PASSWORD_B64
kind: Secret
metadata:
  name: kafka-k8s-cluster-ca-cert
  labels:
    strimzi.io/kind: Kafka
    strimzi.io/cluster: kafka-k8s
  annotations:
    strimzi.io/ca-cert-generation: '0'
  namespace: kafka-k8s
---
apiVersion: v1
data:
  ca.key: $INTERMEDIATE_KEY
kind: Secret
metadata:
  name: kafka-k8s-cluster-ca
  labels:
    strimzi.io/kind: Kafka
    strimzi.io/cluster: kafka-k8s
  annotations:
    strimzi.io/ca-key-generation: '0'
  namespace: kafka-k8s
---
apiVersion: v1
stringData:
  ca.key: $INTERMEDIATE_KEY
kind: Secret
metadata:
  name: kafka-k8s-clients-ca
  labels:
    strimzi.io/kind: Kafka
    strimzi.io/cluster: kafka-k8s
  annotations:
    strimzi.io/ca-key-generation: '0'
  namespace: kafka-k8s
